<!--The content below is only a placeholder and can be replaced.-->

<h1 class="center">
  Welcome to {{ title }}!
</h1>  

<div class="container">
    <p>In this website: i'll present you my hackings tools</p>
    <h1>List of tools</h1>
  <div class="row">
      <div *ngFor="let tool of toolsList" class="col s6 m4">
          <div class="card horizontal" (click)="onDisplayTool(tool)" [tlBorderCard]="'red'">
            <div class="card-image">
              <img [src]="tool.image"/>
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>{{ tool.name }}</p>
                <p><small>{{ tool.author }}</small></p>
              </div>
            </div>
          </div>
      </div>
     
  </div>
  
</div>

<!-- <button (click)="onClick()">Clique!!!</button>
<input #box (keyup)="onKey(box.value)">
<p>{{ value }}</p> 


<input #box (keyup.enter)="values = box.value" (blur) = "values = box.value">
<p>{{ values }}</p>

<p *ngIf='age > 18'> PEGI 18 ISSOU</p>
 <ul>
      <li *ngFor="let tool of toolsList"> 
        {{tool.name}}
      </li>
      </ul>
-->
